# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PolusGGMod.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\among us\PolusGGMod\.idea\.idea.PolusGGMod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
